@media (max-width:720px) {
  .container {
    width: 350px;
    padding: 40px 20px;

    .search {
      width: 180px;
      font-size: 1em;
    }
  
    .btn {
      margin-left: 39px;
  
      &:hover {
        background: rgb(1, 111, 214);
      }
    }
  }
}









@media (max-width:420px) {
  .container {
    width: 290px;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .search {
      width: 220px;
      margin: auto;
      border: none;
      outline: none;
      border-bottom: 2px solid var(--cyan);
      font-size: 0.8em;
    }
  
    .btn {
      width: 220px;
      padding: 7px 20px;
      margin: auto;
  
      &:hover {
        background: rgb(1, 111, 214);
      }
    }
  
  
    .flag {
      width: 250px;
      margin: auto;
      
      img {
        width: 160px;
      }
  
      h1{
        font-size: 0.8em;
        font-weight: 600;
        color: rgb(238, 93, 93);
        margin: auto;
      }
  
      h2 {
        font-size: 1.2em;
      }
      
      h3 {
        font-size: 0.9em;

    
        span {
          font-size: 0.8em;

        }
      }
    }
  }
}